@import "../../assets/styles/colors.scss";

.button {
  border: 0;
  border-radius: 2.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 3.2rem;
  outline: 0 !important;
  position: relative;
  min-width: 6rem;
  min-height: 6rem;
  transition: all 0.2s;

  svg {
    height: 2rem;
    width: 2rem;
  }

  &.button-primary {
    background-color: $blue-4;
    color: #fff;

    &:hover {
      background-color: $blue-2;
    }
  }

  &.button-green {
    background-color: $green-2;
    color: #fff;

    &:hover {
      background-color: $green-3;
    }
  }

  &.button-primary-dark {
    background-color: $primary;
    color: #fff;

    &:hover {
      background-color: $blue-2;
    }
  }

  &.button-secondary {
    background-color: $secondary;
    color: $brown;

    &:hover {
      background-color: $blue-light;
      color: $primary;
    }
  }
}
