@import "../../assets/styles/colors.scss";

.button {
  height: 5.6rem;
  // background: $secundary;
  // color: $button-text;
  border: 0;
  border-radius: 3rem;
  cursor: pointer;
  // font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 3.2rem;
  outline: 0 !important;
  position: relative;

  min-width: 8rem;
  min-height: 8rem;
  transition: all 0.2s;

  svg {
    height: 2.6rem;
    width: 2.6rem;
  }

  &.button-primary-dark {
    background-color: $primary;
    color: #fff;

    &:hover {
      background-color: $blue-2;
    }
  }

  &.button-secondary {
    background-color: $secondary;
    color: $brown;

    &:hover {
      background-color: $blue-light;
      color: $primary;
    }
  }
}
