@import "../../assets/styles/colors.scss";

.create-orphanage {
  display: flex;

  main {
    flex: 1;
    width: calc(100% - 10rem);
    .create-orphanage-form {
      width: 70rem;
      margin: 6.4rem auto;
      background: #fff;
      border: $border-1;
      border-radius: 2rem;
      padding: 6.4rem 8rem;
      overflow: hidden;

      fieldset {
        border: 0;

        & + fieldset {
          margin-top: 8rem;
        }

        .input-block {
          .new-image {
            width: 100%;
            height: 6.4rem;
            background: $grey;
            border: 1px dashed $border-color-2;
            border-radius: 2rem;
            cursor: pointer;
            outline: none;
          }

          .button-select {
            display: grid;
            grid-template-columns: 1fr 1fr;

            button {
              height: 6.4rem;
              background: $grey;
              border: $border-1;
              color: $title;
              cursor: pointer;

              &.active {
                background: $grey;
                border: 1px solid $active-green;
                color: $green;
              }

              &:first-child {
                border-radius: 2rem 0 0 2rem;
              }
              &:last-child {
                border-radius: 0 2rem 2rem 0;
                border-left: 0;
              }
            }
          }
        }
      }

      button {
        width: 100%;

        svg {
          margin-right: 1.6rem;
        }
      }
    }
  }
}
