.side-bar {
  position: fixed;
  height: 100%;
  padding: 3.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  img {
    width: 4.8rem;
  }
}

.side-bar-ocult {
  position: relative;
  width: 10rem;
  visibility: hidden;
}
