@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 60%;
}

body {
  color: #fff;
  background: #ebf2f5;
}

body,
input,
button,
textarea {
  font: 600 2rem Nunito, sans-serif;
}

.contant {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contant-wrapper {
  width: 100%;
  max-width: 1100px;
}

.bg-gradient {
  background: linear-gradient(329.54deg, $primary 0%, $primary-dark 100%);
  background: -moz-linear-gradient(329.54deg, $primary 0%, $primary-dark 100%);
  background: -webkit-gradient(329.54deg, $primary 0%, $primary-dark 100%);
  background: -webkit-linear-gradient(
    329.54deg,
    $primary 0%,
    $primary-dark 100%
  );
  background: -o-linear-gradient(329.54deg, $primary 0%, $primary-dark 100%);
  background: -ms-linear-gradient(329.54deg, $primary 0%, $primary-dark 100%);
  background: linear-gradient(329.54deg, $primary 0%, $primary-dark 100%);
}
